.form__container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 40px auto 0;
	gap: 20px;
}

.label__container {
	display: flex;
	flex-direction: column;
	margin-bottom: 25px;
}
