@media (min-width: 749px) {
	.root {
		display: none;
	}
}

.nav__ul {
	list-style: none;
	display: none;
}

.nav__ul {
	position: fixed;
	text-align: center;
	top: 80px;
	right: -100%;
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	background: #264653;
	transition: 0.5s;
}
.nav__ul.open {
	right: 0;
	z-index: 1000;
}

.link {
	text-decoration: none;
	font-family: 'Poppins', sans-serif;
	font-weight: 700;
	font-size: 20px;
	text-align: center;
	line-height: 18px;
	color: #ffff;
	cursor: pointer;
}
