.btn {
	border-radius: 5px;
	width: 200px;
	height: 50px;
	margin-left: 10px;
	cursor: pointer;
	font-size: 18px;
}

.btn.dark__blue {
	background-color: #264653;
	color: #ffff;
	font-weight: bold;
}

.btn.yellow {
	background-color: #e9c46a;
	font-weight: bold;
}

.btn.gray {
	background-color: #a1acbd;
	font-weight: bold;
}
