.root {
	background-color: yellow;
	width: 100%;
	height: 80px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.nav {
	width: 70%;
	display: none;
}

.link {
	text-decoration: none;
	font-family: 'Poppins', sans-serif;
	font-weight: 700;
	font-size: 20px;
	text-align: center;
	line-height: 18px;
	color: #000;
}

@media (min-width: 749px) {
	.nav {
		display: flex;
		justify-content: space-between;
	}
}
